{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable grid centered container" style="margin-top:12px; margin-bottom:14px">
    <div class="twelve wide computer sixteen wide mobile column">
        <div class="row">
			<h1 class="ui dividing header">Resources</h1>
			{{ page.render_inline_editor(editable_html_obj, current_user) }}

        </div>
    </div>
</div> 

{% macro resource_m(title, url=none, imageSource="none", description=none) %}
	    <div class="item">
	        <div class="image">
	            <img src="{{ imageSource }}">
	        </div>
	        <div class="middle aligned content">
	            <a class="header" href="{{url}}"> {{ title }}</a>
	            {% if description is not none %}
	                <div class="description">
	                    <p> {{ description }}</p>
	                </div>
	            {% endif %}
	        </div>
	    </div>
	{% endmacro %}

<div class="ui three column stackable centered grid" style="padding-bottom: 100px;">
    <div class="ui items">
		{% for r in resources | sort(attribute='title') %}
			 {{ resource_m(r.title, r.resource_url, r.image_url, r.description) }}
		{% endfor %}  
    </div>
</div>

<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
