{% extends 'layouts/base.html' %}

{% block content %}
<div class="container" style="padding-bottom:50px; text-align: center; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ college.image }}'); background-size: cover;">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">{{ college.name }}</h1>

        {% if college.school_url != "" %}
        <button class="ui green button" onclick="window.open('http://{{ college.school_url }}', '_blank')"> School Website </button>
        {% endif %}

        {% if college.price_calculator_url != '' %}
        <button class="ui green button" onclick="window.open('{{ college.price_calculator_url }}', '_blank')"> Net Price Calculator </button>
        {% endif %}

        {% if college.school_url != "" %}
        <button class="ui green button" onclick="window.open('https://collegescorecard.ed.gov/school/?{{ college.scorecard_id }}', '_blank')"> Net Price Calculator </button>
        {% endif %}
   


</div>

<div class="ui stackable grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <div class="ui raised secondary green segment">
            <h1 style="color: #1A85D6;" class="ui header">{{college.name}} at a Glance</h1>
            <p><strong>Description:</strong> {{ college.description }} </p>
            
            {% if college.admission_rate != 0.0 %}
            <p><strong>Admission Rate</strong>: 
                {{ college.admission_rate }}% 
            </p>

            {% if college.admission_rate < 30.0 %}
            <p><em>&emsp; Note: Don't be deterred by a low acceptance rate if the rest of your profile fits the school!</em></p>
            {% endif %}

            {% endif %}
            
            {% if college.school_city != "" %}
            <p><strong>Location</strong>: 
                {{ college.school_city }}, {{ state_full_name }}
            </p>
            {% endif %}

            {% if college.sat_score_average_overall != 0.0 %}
            <p><strong>Average SAT Score</strong>: 
                {{ college.sat_score_average_overall }}
            </p>
            {% endif %}

            {% if college.act_score_average_overall != 0.0 %}
            <p><strong>Average ACT Score</strong>: 
                {{ college.act_score_average_overall }}
            </p>
            {% endif %}

            {% if college.school_size != 0 %}
            <p><strong>Undergraduate size</strong>: 
                {{ college.school_size }}
            </p>
            {% endif %}

            {% if college.is_hispanic_serving == 1%}
                <p><strong>This school is a hispanic-serving institution.</strong>: 
            {% endif %}


        </div>

        <div class="ui raised secondary green segment"> 
            <h1 style="color: #1A85D6;" class="ui header">Costs</h1>
            {% if college.cost_of_attendance_in_state != 0.0 and college.cost_of_attendance_out_of_state != 0.0 %}
            <p><strong>Overall Cost of Attendance</strong>:
                {% if college.cost_of_attendance_in_state == college.cost_of_attendance_out_of_state %}
                ${{ "{0:,.0f}".format(college.cost_of_attendance_in_state) }}
                {% else %}
                In-state ${{ "{0:,.0f}".format(college.cost_of_attendance_in_state) }} -- Out-of-state ${{ "{0:,.0f}".format(college.cost_of_attendance_out_of_state)}}
                {% endif %}
            </p>
            {% endif %}

            {% if college.tuition_in_state != 0.0 and college.tuition_out_of_state != 0.0 %} 
            <p><strong>Tuition</strong>:
                {% if college.tuition_in_state == college.tuition_out_of_state %} 
                ${{ "{0:,.0f}".format(college.tuition_in_state) }}
                {% else %}
                In-state ${{ "{0:,.0f}".format(college.tuition_in_state) }} --  Out-of-state  ${{ "{0:,.0f}".format(college.tuition_out_of_state)}}
                {% endif %} 
            </p>
            {% endif %} 

            {% if college.room_and_board != 0.0 %}
            <p><strong>Room and Board</strong>:
                ${{"{0:,.0f}".format(college.room_and_board)}}
            </p>
            {% endif %} 


            {% if college.net_price_0_30000 != 0 %}
             <table class="ui celled padded table">
                 <tr>
                    <th>Family Income</th>
                    <th style="margin-left:30px;">Net Price</th>
                </tr>
                <tr>
                    <td> $0 - $30,0000 </td>
                    <td> ${{"{0:,.0f}".format(college.net_price_0_30000)}} </td>
                </tr>
                <tr>
                    <td> $30,0001 - $48,000 </td>
                    <td> ${{"{0:,.0f}".format(college.net_price_30001_48000)}} </td>
                </tr>
                <tr>
                    <td> $48,001 - $75,000 </td>
                    <td> ${{"{0:,.0f}".format(college.net_price_48001_75000)}} </td>
                </tr>
                <tr>
                    <td> $48,001 - $75,000 </td>
                    <td> ${{"{0:,.0f}".format(college.net_price_48001_75000)}} </td>
                </tr>
                <tr>
                    <td> $75,001 - $110,000 </td>
                    <td> ${{"{0:,.0f}".format(college.net_price_75001_110000)}} </td>
                </tr>
                <tr>
                    <td> $110,001 + </td>
                    <td> ${{"{0:,.0f}".format(college.net_price_110001_plus)}} </td>
                </tr>
             </table>

            {% endif %}


            
        </div>

        <div class="ui raised secondary green segment">
            <h1 style="color: #1A85D6;" class="ui header">Deadlines</h1>
            <p><strong>Early</strong>: {{ college.early_deadline }}</p>
            <p><strong>Regular</strong>: {{ college.regular_deadline }}</p>
            <p><strong>Scholarship</strong>: {{ college.scholarship_deadline }}</p>
            <p><strong>FAFSA Deadline</strong>: {{ college.fafsa_deadline }}</p>
            <p><strong>Acceptance Deadline</strong>: {{ college.acceptance_deadline }}</p>
        </div>

        <div class="ui raised secondary green segment" style="margin-bottom: 64px;"> 
            <h1 style="color: #1A85D6;" class="ui header"> Student Demographics </h1>

            <p><strong> First Generation Students: {{ college.first_generation_percentage }}% </p></strong>


            <table class="ui celled padded table">
                <tr>
                    <th>Race</th>
                    <th>Percent</th>
                </tr>
                <tr>
                    <td> White </td>
                    <td> {{ college.first_generation_percentage }}%</td>
                </tr>
                <tr>
                    <td> Black </td>
                    <td>{{ college.race_black }}%</td>
                </tr>
                <tr>
                    <td> Hispanic </td>
                    <td> {{ college.race_hispanic }}% </td>
                </tr>
                <tr>
                    <td> Asian </td>
                    <td> {{ college.race_asian }}% </td>
                </tr>
                <tr>
                    <td> Native American/Alaska Native </td>
                    <td> {{ college.race_american_indian }}%</td>
                </tr>
                <tr>
                    <td> Native Hawaiian/Pacific Islander </td>
                    <td> {{ college.race_native_hawaiian }}%</td>
                </tr>
            </table>

            
            {% if college.race_international != 0 %}
            <p><strong>{{ college.race_international }}%</strong> International</p>
            {% endif %}

        </div>
        {% if college.plot_SAT1600 %}
        <h4 class="ui header">GPA vs. SAT [1600] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT1600}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_ACT %}
        <h4 class="ui header">GPA vs. ACT Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_ACT}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_SAT2400 %}
        <h4 class="ui header">GPA vs. SAT [2400] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT2400}}.embed?showlink=false"></iframe>
        {% endif %}
    </div>
</div>

{% endblock %}
